.loginBody {
    width: 90%;
    height: fit-content;
    padding: 1% 5%;
    background-color: #F1F8F1;
}
.loginWrapper {
    width: 40%;
    height: 700px;
    margin-left: 30%;
    margin-bottom: 10%;
    border-radius: 25px;
    background-color: white;
}
.loginContent {
    padding: 8% 5%;
    text-align: right;
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media screen and (max-width: 1150px) {
    .loginBody {
        width: 100%;
    }
    .loginWrapper {
        width: 100%;
        position: relative;
        left: -33%;
        padding: 0 0%;
    }
}