main {
    width: 100%;
    height: 100vh;
    display: grid;
}

.home_container {
    width: 100%;
    height: 50%; 
    background-color: #1A1F1A;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: stretch;  
    padding-top: 5%;
}
/* #hero_section{
    margin-top: 5%;
} */
.home_container h3 {
    text-align: center;
    background-color: #0F43AD;
    
}

.hero_content {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 50%;
}

.content h1 {
    font-size: 50px;
}

.content h1 strong {
    color: green;
}

.hero_button {
    padding: 10px 20px;
    background-color: green;
    border: none;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    color: #FFFF;
    border-radius: 5px;
}

.hero_button:hover {
    background-color: #95b268;
}

.images {
    margin-top: 100px;
}

.sub_section_container {
    display: flex;
   justify-content: space-around;
    align-items: self-start; 
    color: #1A1F1A;
    margin-top: 20rem;
}

.benefit_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px; 
}

.benefit_card {
    padding: 10px; 
}

.learn_container{
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    
}

.learn_container img {
    width: 50%;
    height: 50%;
}
.dropdown_container{
    border:1px solid #1A1F1A ;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.dropdown_container button{
    display: flex;
    justify-content: space-between;
    padding: 10px; 
    text-align: left;
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    font-family: "Manrope", sans-serif;
    cursor: pointer;

}
.list_container{
    font-family: "Manrope", sans-serif;
    padding: 10px;
}

@media screen and (max-width: 1150px) {
    .home_container{height: 100vh; padding-top: 10rem;}
    .hero_content{
        display: flex;
        flex-direction: column;
    }
    .hero_content {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }
    .sub_section_container {
        flex-direction: column;
        padding-top: 150px;
    }
    .benefit_card_container {
        grid-template-columns: 1fr; 
    }
    .learn_container {
        flex-direction: column;
    }
}
