
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
        --primary-color: #1A1F1A;
        --secondary-color: #52A350;
        -font-colot:#FFFF;
        --footer-color: red;
        
}



html, body{
    width: 100%;
    height: 100vh;
    max-width: 2000px;
    margin: auto;
    
}

h1,h2,h3{
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;


}
p{
    font-family: "Manrope", sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}


@media screen and (max-width: 1150px) {

}
